<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Contactos</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="valueNombre">Nombre</label>
					<div id="valueNombre">{{contactos.nombre}}</div>
				</div>
				<div class="form-group">
					<label for="valueApellido">Apellido</label>
					<div id="valueApellido">{{contactos.apellido}}</div>
				</div>
				<div class="form-group">
					<label for="valueTelefono">Telefono</label>
					<div id="valueTelefono">{{contactos.telefono}}</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="gotoList($event)" >Back</button>
					<button class="btn btn-primary" ng-click="edit($event)" >Edit</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
